/* 
Base Rules
	A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudoclasses. It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/

body {
    color: $color;
    @include body-font-regular;
    @include fontSize(20px);
    line-height: 1.45;
    margin: 20px auto;
    max-width: 550px;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    @include headline-font;
    line-height: 1;
}

h1 {
    @include fontSize(60px);
    margin-bottom: 84px;
}

//p:first-of-type {
//    @include fontSize(30px);
//}

//p:first-child {
//    @include fontSize(30px);
//}

h1 + p {
   @include fontSize(30px);
    margin-top: 0;
    margin-bottom: 10;
}

h2 {
    @include fontSize(44px);
    margin-top: 60px;
    margin-botton: 0;
    leading: 0;
}

h2 + p {
    margin-top: 0;
    margin-bottom: 0;
    color: lighten($color, 5%);    
}

h3 {
    @include fontSize(34px);
    margin-top: 0;
    margin-bottom: 0;
    color: lighten($color, 5%);
}

h3 + p {
    margin-top: 0;
    margin-bottom: 40;
    color: lighten($color, 5%);
}

h4 {
    @include fontSize(30px);
    margin-top: 10;
    margin-bottom: 0;
    color: lighten($color, 5%);
}

h4 + p {
    margin-top: 0;
    margin-bottom: 20;
}

h5 {
    @include fontSize (20px);
    margin-top: 0;
    margin-bottom: 0;
    color: lighten($color, 5%);
}

h5 + p {
    margin-top: 0;
    margin-bottom: 10;
}

h6 {
    @include fontSize(15px);
    margin-top: 0;
    margin-bottom: 10;
    color: lighten($color, 5%)
}

ul + h6 {
    margin-top: 40;
    margin-bottom: 0;
}

dt {
    margin-top: 15px;
}

i, em {
    @include body-font-italic;
}

b, strong {
    @include body-font-bold;
}

a {
//    background-color: $background-color;
//    border-radius: 4px;
    color: $color;
    @include body-font-italic;
    padding: 0 4px 2px 4px;
    //padding: top right bottom left
    transition: background-color 300ms linear;
    transition: color 300ms linear;
}

//a:hover {
//    background-color: lighten($background-color, 5%);
//    color: lighten($color, 100%);
//    transition: background-color 300ms linear;
//    transition: color 300ms linear;
//}

ul {
    margin: 0 0 0 22px;
    //margin: top right bottom left
    padding: 0;
    //list-style-type: none;
}

//ul li {
//    background-color: pink;
//    margin-bottom: 40px;
//}

p + ul {
    margin-top: -10px
}

//body {
//    background-color: #f4deb6;
//}

li {
    margin-top: 10px;
    margin-bottom: 0;
}

body {
    background: url(../img/bwlake.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


ol li {
    margin-bottom: 8px;
}

p + ul, p + ol {
    margin-top: -18px;

}

dt {
    @include body-font-bold; 
}

dd {
    margin: 0 0 10px 0;
}

//nav {
//    background-color: #fff;
//    border: 1px solid gray;
//    border-bottom-left-radius: 6px;
//    border-bottom-right-radius: 6px;
//    border-top: none;
//    padding: 4px 5px 6px 5px;
//    position: fixed;
//}

//nav ul {
//    list-style-type: none;
//    margin: 0;
//    padding: 0;
//}
//
//nav ul lu {
//    display: inline-block;
//    margin: 0 6px;
//}

blockquote:before {
  color: $color;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

    blockquote cite {
    display: block;
    @include body-font-bold;
    text-align: right;
}

footer {